* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: block;
  width: auto;
  min-height: 100vh;
  background-image: url(./img/hd2.jpg);
  background-size: cover;
  background-position: center;
}

header {
  
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hdr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 6rem;
  padding: 2.5rem;
  padding-bottom: 1.5rem;
}

header h1 {
  font-family: 'EB Garamond', serif;
  font-size: 3rem;
  color: rgb(133, 23, 23);

  animation: downtop 500ms;
}

.img {
  display:flex;
  min-height: 9rem;
  min-width: 9rem;
  background-image: url(./img/logo1.jpg);
  background-size: contain;
  border-radius: 50%;

  animation: rotate 1s;
}

#logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.5rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: auto auto 2rem; 
  
  transition: transform 500ms;  
}

nav a:nth-child(2) {
  background-color:rgb(104, 207, 83);
}

a.link {
  text-decoration: none;
  font-size: 1.8rem;
  color:rgb(133, 23, 23);
  padding: 0.2rem;
  margin-top: 0.6rem;
  background-color: white;
  border-radius: 1rem;

  transition: transform 500ms; 
}

a.link:hover {
  background-color:rgb(104, 207, 83);
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: antiquewhite;
}

main h2 {
  font-size: 2.5rem;

  animation: topdown 1s 200ms backwards;
}

main p {
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  text-align: center;

  animation: topdown 1s 400ms backwards;
}

main img {
  /*margin-top: 4rem;*/
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%; 
  
  animation: topdown 1s 800ms backwards;
  transition: transform 500ms;  
}

main img:hover {
  transform: scale(1.1);
}

ul {
    list-style-image: url(./img/maca2.png);
    font-size: 1.5rem;
    width: 80%;
}

li {
    vertical-align:middle;
    margin-top: 1rem;

    animation: topdown 1s 400ms backwards;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  
  width: 100%;
  padding: 2.5rem;
}

.txtf {
  display: flex;
  background-color: antiquewhite;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Nossos produtos */
.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  /*border: 0.1rem solid white;*/
  margin: 0.1rem;
  padding: 0.1rem;
  gap: 0.75rem;
  filter: contrast(10px);
}

.itens {
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
  padding: 0.5rem;
}

/*.itens:hover {
  padding: 0.25rem 0.25rem;
}*/

.itens-texto {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

.botoes_carrinho {
  display: flex;
  justify-content: space-between;
}

.informacoes_carrinho {
  display: flex;
  justify-content: space-between;
  background-color: rgb(104, 207, 83);
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  border-radius: 8px;
}

.botoes_carrinho p {
  padding-top: 0rem;
  padding-bottom: initial;
}

.redes_sociais {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}

.texto_redes_sociais {
  display: flex;
  align-items: center;
}

/* ----------Media Querry---------- */
@media (min-width: 970px){
  .hdr {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 10rem;
      padding: 2.5rem;
      padding-bottom: 1.5rem;    
  }

  header h1 {
      font-size: 5em;
  }

  .img {
      display: flex;
      min-height: 15rem;
      min-width: 15rem;
      background-image: url(./img/logo1.jpg);
      background-size: contain;
      border-radius: 50%;       
  }

  a.link {
      font-size: 2.5rem;
      padding: 1rem;
  }

 
  main h2 {
      font-size: 5.5rem;
  }

  main p {
      padding-top: 2rem;
      padding-bottom: 4rem;
      font-size: 2.7em;
      text-align:justify;
      max-width: 80%;
  }

  ul {
    font-size: 2.7rem;
    margin-top: 2rem;
  }

  li {
    vertical-align: baseline;
    margin-top: 2rem;
    text-align: justify;
  }

  .equipimg {
      max-width: 50%;
      max-height: 50%;
      border-radius: 10%;
      margin-bottom: 5rem;  
  }
  
  footer {
      font-size: 2rem;
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate{
  0% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotate(0);
  }
}
