/* Tirar as configurações que vem por padrão no navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* configuração inserida para toda a pagina html para melhor conversão da unidade pixel em "em" */
:root {
  font-size: 62.5%;
}

/* ajuste no layout da pagina */
body {
  display: block;
  width: auto;
  min-height: 100vh;
  background-image: url(./img/hd2.jpg);
  background-size:cover;
  background-position: center;
}

/* organização das divs presentes no header */
header {
  
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* posicionamento da caixa que contem o titulo e a logo */
.hdr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 6rem;
  padding: 2.5rem;
  padding-bottom: 1.5rem;
}

/* estilização do titulo */
header h1 {
  font-family: 'EB Garamond', serif;
  font-size: 3rem;
  color: rgb(133, 23, 23);

  animation: downtop  500ms;
}

/* estilização da logo */
.img {
  display:flex;
  min-height: 9rem;
  min-width: 9rem;
  background-image: url(./img/logo1.jpg);
  background-size: contain;
  border-radius: 50%;
  animation: rotate 1s;
}

/* estilização do menu*/
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: auto auto 2rem;  
}

/* estilização diferenciada da parte do menu em qual a pagina se encontra*/
nav a:nth-child(5) {
  background-color:rgb(104, 207, 83);
}

/* estilização do texto do menu*/
a.link {
  text-decoration: none;
  font-size: 1.8rem;
  color:rgb(133, 23, 23);
  padding: 0.2rem;
  margin-top: 0.6rem;
  background-color: white;
  border-radius: 1rem;

  transition: transform 500ms; 
}

/* efeito para o menu ao passar o mouse*/
a.link:hover {
  background-color:rgb(104, 207, 83);
  transform: scale(1.1);
}

/* organização dos elementos presentes no main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: antiquewhite;
}

/* estilização do titulo */
main h2 {
  font-size: 2.5rem;
  animation: topdown 1s 200ms backwards;
}

/* estilização do texto */
main p {
  padding-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  animation: topdown 1s 400ms backwards;
}

/* estilização da imagem */
main img {
  margin-top: 2rem;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%;
  animation: topdown 1s 800ms backwards;
  transition: transform 500ms;  
}

/* efeito para a imagem ao passar o mouse*/
main img:hover {
  transform: scale(1.05);
}

/* organização dos elementos presentes no footer*/
footer {
  display:flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  
  width: 100%;
  padding: 2.5rem;
}

/* estilização para o texto do footer*/
.txtf {
  display: flex;
  background-color: antiquewhite;
  padding: 0.5rem;
  border-radius: 1rem;
}

.redes_sociais {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}

.texto_redes_sociais {
  display: flex;
  align-items: center;
}

/* Media Query (adaptação do layout de acordo com o tamanho limitado) */
@media (min-width: 970px){
  .hdr {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 10rem;
      padding: 2.5rem;
      padding-bottom: 1.5rem;    
  }

  header h1 {
      font-size: 5em;
  }

  .img {
      display:flex;
      min-height: 15rem;
      min-width: 15rem;
      background-image: url(./img/logo1.jpg);
      background-size: contain;
      border-radius: 50%;       
  }

  a.link {
      font-size: 2.5rem;
      padding: 1rem;
  }

 
  main h2 {
      font-size: 5.5rem;
  }

  main p {
      padding-top: 2rem;
      padding-bottom: 4rem;
      font-size: 2.7em;
      text-align:justify;
      max-width: 80%;
  }

  .card img{
    height: 60rem;
    object-fit:cover;
  }

  /* estilização para a imagem em forma de mosaico*/
  .equipimg {
    display: grid;
    justify-items: center;
    max-width: 80%;
    max-height: auto;
    gap: 3.5rem;
    margin-bottom: 6rem;

    grid-template-areas: "A A B"
    "C D D";
  }

    .equipimg div:nth-child(1) {
      grid-area: A;

    }
  
    .equipimg div:nth-child(2) {
      grid-area: B;
    }
  
    .equipimg div:nth-child(3) {
      grid-area: C;
    }
  
    .equipimg div:nth-child(4) {
      grid-area: D;
    }

      
  footer {
      font-size: 2rem;}
}

/* KeyFrames (configuração das animações utilizadas na página) */
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate{
  0%{
    transform: rotateY(360deg);
  }

  100%{
    transform: rotate(0);
  }
}
